{% extends "layout.twig" %}
{% block title %} Mis Compras {% endblock %}
{% block main_container %}
	<h2>Mis compras</h2>
	<div class="table-responsive">
		<table class="table table-hover">
			<thead>
			<tr>
				<th>Título</th>
				<th>Descripcion</th>
			</tr>
			</thead>
			<tbody>
			{% for offer in offers %}
				<tr>
					<td>{{ offer.title }}</td>
					<td>{{ offer.description }}</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}