{% extends "layout.twig" %}
{% block title %}Agregar canci칩n {% endblock %}
{% block main_container %}
    <h2>A침adir una nueva oferta</h2>
    <form class="form-horizontal" method="post" action="/offer/add">
        <div class="form-group">
            <label class="control-label col-sm-2" for="title">Titulo:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="title"
                       name="title"/>
                <span class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2s" for="description"></label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="description"
                       name="description"
                       placeholder="Descripci칩n del producto..."/>
                <span class="text-danger"></span>
            </div>
        </div>

        <!-- Cantidad solicitada -->
        <div class="form-group">
            <label class="control-label col-sm-2" for="price">Precio</label>
            <div class="col-sm-10">
                <input type="number" class="form-control" id="price"
                       name="price"
                       step="0.1"
                       placeholder="Precio del producto..."
                />
                <span class="text-danger"></span>
            </div>
        </div>

        <!-- Imagen solicitada -->
        <div class="form-group">
            <label class="control-label col-sm-2" for="image"></label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="image"
                       name="image">
            </div>
        </div>

        <!-- Boton para destacar la nueva oferta -->
        <div class="form-group">
            <div class="col-sm-10">
                <label for="featured">Destacar</label>
                <input type="checkbox" class="form-control" id="featured"
                       name="featured"/>
            </div>
        </div>

        <!-- Boton para publicar la nueva oferta -->
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary">A침adir
                </button>
            </div>
        </div>
        <input type="hidden" class="form-control" id="dateUpload"
               name="dateUpload"/>
        <input type="hidden" name="${_csrf.parameterName}"
               value="${_csrf.token}"/>
    </form>
{% endblock %}