{% extends "layout.twig" %}
{% block title %}A침adir oferta {% endblock %}
{% block main_container %}
    <div class="container">
        <a href="/user/offers" class="btn btn-primary">Ver mis ofertas</a>
    </div>
    <br/>
    <h2>A침adir una nueva oferta</h2>

    {% if errors %}
        <div class="container">
            <ul style="list-style-type: none">
                {% for error in errors %}
                    <li class="alert alert-danger">{{ error.msg }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    <form class="form-horizontal" method="post" action="/offer/add">
        <div class="form-group">
            <label class="control-label col-sm-2" for="title">Titulo:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="title"
                       name="title"/>
                <span class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" for="description">Detalle
                textual:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="description"
                       name="description"
                       placeholder="Descripci칩n del producto..."/>
                <span class="text-danger"></span>
            </div>
        </div>

        <!-- Cantidad solicitada -->
        <div class="form-group">
            <label class="control-label col-sm-2" for="price">Precio</label>
            <div class="col-sm-10">
                <input type="number" class="form-control" id="price"
                       name="price"
                       step="0.1"
                       placeholder="Precio de la oferta..."
                />
                <span class="text-danger"></span>
            </div>
        </div>

        <!-- W12 Marcar oferta como destacada -->
        <div class="form-group">
            <label class="control-label col-sm-2" for="destacar">Destacar</label>
            <div class="col-sm-10">
                <input type="checkbox" class="form-control" id="destacar" name="destacar"/>
            </div>
        </div>

        <!-- Boton para publicar la nueva oferta -->
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary">A침adir oferta
                </button>
            </div>
        </div>
    </form>
{% endblock %}